# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
api/venv/
api/__pycache__/
api/yolo11n.pt
api/static/
react/node_modules/
react/dist/
react/dist-ssr/
react/.DS_Store
react/.idea/
react/.vscode/*
react/.vscode/extensions.json
react/.vscode/settings.json
angular/node_modules/
angular/dist/
angular/dist-ssr/
angular/.DS_Store
angular/.idea/
angular/.vscode/*
angular/.vscode/extensions.json
angular/.vscode/settings.json